/* CONSTANTS
 * primary font (serif): Assistant
 * secondary font (serif): Playfair
 * tertiary font: Prata
*/

* {
  font: Assistant;
  line-height: 1.2em !important;
}

h1 {
  font-family: Prata, serif;
}

h2 {
  font-family: Playfair Display SC, serif;
}

.body-width {
  width: 100%;
  padding: 2em 5em;
}

.subtitle {
  text-align: center;
  padding: 1em 0;
}

.container-body {
  display: flex;
  padding: 2em;
}

.btn:hover {
  transform: translateY(-1px) !important;

}

.btn:active {
  transform: translateY(1px) !important;
}

.body-text {
  margin: 0 2em;
  padding: 2em;
}

/* Landing */
.landing-body {
  display: flex;
  flex-direction: column;
  padding: 9em 2em;
}

.btn-transparent {
  border: 1px solid white;
  color: white;
  flex-basis: 2em;
  margin-right: auto;
}

.btn-transparent:hover {
  background-color: white;
  color: black;
}

#landing {
  background-image: url("assets/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.landing-text {
  color: white;
  line-height: 0.5em;
}


/* Navbar */
.navbar {
  padding: 1em 2.5em;
  background-color: transparent !important;
  float: left; /* doesnt matter if left or right; the point is to make position "absolute" */
  width: 100%;
*}

.navbar-brand {
  font: 2em Playfair Display SC, serif;
}

.nav-link {
  font: 1.5em Assistant;
  font-weight: bold;
}

.nav-item {
  margin-left: 1em;
}

/* Testimonials */
.test-container {
  width: 45%;
  display: flex;
}

.fb-container {
  justify-content: flex-end;
}

.section-header {
  background-color: white;
  border-bottom-width: 3px;
  border-bottom-color: #3e3e3e;
  border-bottom-style: solid;
  padding: 10px;
}

.ken-contact {
  background-image: url("assets/ken2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 5px;
  width: 100%;
  height: 550px;
}

#footer {
  padding: 25px;
}

.form-group {
  margin-bottom: 1.5em;
}

label {
  font-weight: bold;
}

.form-check-label {
  font-weight: normal;
  margin-left: 0.5em;
}
